src/main/resources/META-INF/lubbo.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<xsd:schema   
    xmlns="http://www.wym.com/schema/lubbo"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"   
    xmlns:beans="http://www.springframework.org/schema/beans"  
    targetNamespace="http://www.wym.com/schema/lubbo"
    elementFormDefault="qualified"   
    attributeFormDefault="unqualified">  
    
    <xsd:import namespace="http://www.springframework.org/schema/beans" />  
    
    <xsd:element name="lubbo">
        <xsd:complexType>  
            <xsd:complexContent>  
                <xsd:extension base="beans:identifiedType">  
                    <xsd:attribute name="interface" type="xsd:string" />
                    <xsd:attribute name="ref" type="xsd:string" />
                </xsd:extension>  
            </xsd:complexContent>  
        </xsd:complexType>  
    </xsd:element>  
</xsd:schema>
